body {
    font-family: Arial, sans-serif;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header {
    background-color: #2B6EDA;
    color: white;
    padding: 20px;
    text-align: center;
}