body {
    font-family: Arial, sans-serif;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 8px;

}

header {
    background-color: #2B6EDA;
    color: white;
    text-align: left;
    padding: 8px;


}

button.menu {

    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: #2B6EDA;

}

div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

section {
    grid-column: span 2;

}

ul {
    border-right: solid 2px #000;
    border-bottom: solid 2px #000;
    list-style: none;
    padding: 8px;

}

.Coffee {
    border-top: solid 2px #000;
    border-right: solid 2px #000;

}

li {
    margin-top: 15px;
}

.flex-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;

}

.flex-list .item {
    display: inline-block;
    margin-right: 1rem;
}

.flex-list .price {
    white-space: nowrap;
    color: #666;
    font-weight: 600;
}