body {
    font-family: Arial, sans-serif;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    height: 100%;
    margin: 0;

}




/* small tablet styles */
@media screen and (min-width: 620px) {}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {}

/* desctop styles */
@media screen and (min-width: 1200px) {}

header {
    background-color: #2B6EDA;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    padding: 8px;
    width: 100%;
}

h1 {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

h2,
{
font-family: "Oi", serif;
font-weight: 400;
font-style: normal;
font-size: 4em;

}



h2.sips {
    color: #2B6EDA;
}

.grub {
    color: #422B2B;
}

.pink {
    color: #F79EB0;

}

.yellow {
    color: #FFB205;
}


.menu-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .28s ease;
    flex-basis: 100%;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.menu-toggle:checked+.menu-btn+.menu-panel {
    max-height: 100%;


}



.menu-btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin-left: auto;

}


div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

section {
    grid-column: span 2;

}

.news-contacts {
    grid-column: span 3;
}




.sips2,
.grub2 {
    margin-top: 68px;
}


.menu-box,
.menu-box2,
.menu-box3,
{
border-right: solid 2px #2B6EDA;
border-top: solid 2px #2B6EDA;
list-style: none;
padding: 8px;
}

.menu-box4,
.menu-box5 {

    border-top: solid 2px #2B6EDA;
    list-style: none;
    padding: 8px;
}





.coffee {
    list-style: none;
    padding: 6px 0 10px 0;
    margin-bottom: 6px;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: #2B6EDA;
}

.special-coffee {
    list-style: none;
    font-weight: 700;
    padding: 6px 0 10px 0;
    margin-bottom: 6px;
}

.iced-coffee {
    list-style: none;
    font-weight: 700;
    padding: 6px 0 10px 0;
    margin-bottom: 6px;
}

li {
    margin-top: 15px;
    display: block;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.flex-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

.menu-box,
.menu-box2,
.menu-box3,
.menu-box4,
.menu-box5,
.menu-box6,
.menu-box7,
.menu-box8,
.menu-box9,
.news-box {
    display: block;

}



.flex-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;


}



.flex-list .price {
    white-space: nowrap;


}

.flex-list .item {
    text-transform: uppercase;
}

input [type=text],
select {}