body {
    font-family: Arial, sans-serif;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 8px;

}

/* small tablet styles */
@media screen and (min-width: 620px) {}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {}

/* desctop styles */
@media screen and (min-width: 1200px) {}

header {
    background-color: #2B6EDA;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    padding: 8px;


}

h2.sips {
    color: #2B6EDA;
}

.menu-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .28s ease;
    flex-basis: 100%;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.menu-toggle:checked+.menu-btn+.menu-panel {
    max-height: 200px;

}

.menu-btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin-left: auto;

}


div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

section {
    grid-column: span 4;

}

ul {
    border-right: solid 2px #000;
    border-bottom: solid 2px #000;
    border-top: solid 2px black;
    list-style: none;
    padding: 8px;

}


.coffee {
    list-style: none;
    font-weight: 700;
    padding: 6px 0 10px 0;
    margin-bottom: 6px;
}

.special-coffee {
    list-style: none;
    font-weight: 700;
    padding: 6px 0 10px 0;
    margin-bottom: 6px;
}

li {
    margin-top: 15px;
}

.flex-list {
    list-style: none;
    margin: 0;
    padding: 8px;

}

.flex-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;

}

.flex-list .item {
    display: inline-block;
    margin-right: 12rem;
}

.flex-list .price {
    white-space: nowrap;
    color: #666;
    font-weight: 600;
}