body {
    font-family: Arial, sans-serif;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-width: 100%;
    padding: 0;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

main {
    padding: 20px;
    box-sizing: border-box;
}




/* small tablet styles */
@media (min-width: 620px) {
    .menu-layout {
        grid-template-columns: repeat(6, 1fr);
    }

    section {
        grid-column: span 3;
    }

    .news-contacts {
        grid-column: span 6;
    }
}



/* desctop styles */
@media (min-width: 1024px) {
    .menu-layout {
        grid-template-columns: repeat(12, 1fr);
    }

    .sips,
    .sips2 {
        grid-column: span 2;
    }

    .grub,
    .grub2 {
        grid-column: span 2;
    }

    .news-contacts {
        grid-column: span 3;
    }
}

header {
    background-color: #2B6EDA;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    padding: 16px;
    box-sizing: border-box;
}

.visually-hidden {
    visibility: hidden;
    margin-top: 0;
}

h1 {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5em, 8vw, 4em);
    margin: 0;
}

h2 {
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5em, 6vw, 4em);
    margin-bottom: 0%;
    margin-top: 0;

}



p,
.fire {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8em;
}


h2.sips {
    color: #2B6EDA;
}

.grub {
    color: #422B2B;
}


.pink {
    color: #F79EB0;

}

.yellow {
    color: #FFB205;
}


.menu-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .28s ease;
    flex-basis: 100%;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.menu-toggle:checked+.menu-btn+.menu-panel {
    max-height: 100%;


}



.menu-btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin-left: auto;

}


.menu-layout {
    display: grid;
    grid-template-columns: 1;


}

section {
    grid-column: 1/ -1;

}

.news-contacts {
    grid-column: span 3;
    margin-left: 25px;
}


.line {
    text-align: center;
}




.menu-box {
    border-right: solid 2px #2B6EDA;
    border-top: solid 2px #2B6EDA;
    padding-top: 12px;

}

.menu-box2,
.menu-box3 {
    border-top: solid 2px #2B6EDA;
    border-right: solid 2px #2B6EDA;
    padding-top: 12px;
}

.menu-box4,
.menu-box5 {

    border-top: solid 2px #2B6EDA;
    padding-top: 12px;

}

.menu-box6,
.menu-box7 {
    border-right: solid 2px #422B2B;
    border-top: solid 2px #422B2B;
    padding-top: 12px;

}

.menu-box8,
.menu-box9 {

    border-top: solid 2px #422B2B;
    padding-top: 12px;

}

.menu-box3 h2,
.menu-box5 h2,
.menu-box3 ul,
.menu-box5 ul {
    margin-top: 0;
}

.menu-box3,
.menu-box5 {
    align-self: start;

}

.menu-box3>*,
.menu-box5>*,
.menu-box7>*,
.menu-box9>* {
    margin-top: 0;
}

.flex-list li:first-child {
    padding-top: 0;
    margin-top: 0;
}

.menu-box3,
.menu-box5,
.menu-box7,
.menu-box9 {
    align-self: start;
    grid-row: auto;
}





.flex-list li.coffee,
.flex-list li.special-coffee,
.flex-list li.iced-coffee,
.flex-list li.non-coffee,
.flex-list li.add-ons {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: #2B6EDA;
}

.flex-list li.Savory-Brekkie,
.flex-list li.sweet-brekki,
.flex-list li.baked-goods,
.flex-list li.add-ons2 {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: #422B2B;
}


.cup {
    position: relative;
    left: 120px;
    top: -10px;
    margin-bottom: 5px;

}

.line {
    position: relative;
    right: 50px;
    top: 60px;
}

.menu-box4 {
    margin-bottom: 13px;
}



h3 {
    margin-top: 14px;
    display: grid;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.flex-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

.menu-box,
.menu-box2,
.menu-box3,
.menu-box4,
.menu-box5,
.menu-box6,
.menu-box7,
.menu-box8,
.menu-box9,
.news-box {
    display: grid;

}



.flex-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;


}





.flex-list .price {
    white-space: nowrap;
    padding: 0;

}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;

}




.flex-list .item {
    text-transform: uppercase;
    overflow-wrap: break-word;
    word-break: break-word;
}



footer {
    border-top: solid 2px #2B6EDA;
    margin-top: 40px;

}